In [1]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_csv('/home/parul/Music/music_recom/data.txt', delim_whitespace = True)

In [34]:
df

               Sno      ord      proc  tech
1 assddf ass  hshd  agagsgs    shshsh  shsh
2 we     age  aheh    hshsh  hehejedj   NaN

In [35]:
df1 = df.replace(np.nan, 'Replaced Value', regex=True)

In [36]:
df1

               Sno      ord      proc            tech
1 assddf ass  hshd  agagsgs    shshsh            shsh
2 we     age  aheh    hshsh  hehejedj  Replaced Value

In [48]:
df.reset_index()

   level_0 level_1 level_2   Sno      ord      proc  tech
0        1  assddf     ass  hshd  agagsgs    shshsh  shsh
1        2      we     age  aheh    hshsh  hehejedj   NaN

In [53]:
df['tech'].values

array(['shsh', nan], dtype=object)

In [ ]:
df.drop()